In [3]:
#La información suele estar en bases de datos  relacionales, y R es perfecto para trabajar con esas BD.
#Por otro lado, R tiene problemas para trabajar con datasets muy grandes, proveer de acceso concurrente a la información y ser persistente

#Con R la información debe persistir en la memoria,por lo que es mejor analizar la información con SQL.

#Las BD relacionales están optimizadas para trabajar con estructuras de BDs grandes, proveer acceso concurrente a varios users, mantener la consistencia, y la persistencia.

movie <- list("Toy Story",1995,c("Animation","Adventure","Comedy"))
movie

[[1]]
[1] "Toy Story"

[[2]]
[1] 1995

[[3]]
[1] "Animation" "Adventure" "Comedy"

In [4]:
#Para acceder a un elemento
movie[2]

[[1]]
[1] 1995

In [6]:
#Para acceder a un rango
movie[1:2]

[[1]]
[1] "Toy Story"

[[2]]
[1] 1995

In [8]:
#Podemos hacer una lista con nombres
movie <- list(name = "Toy Story",
             year = 1995,
             genre = c("Animation", "Adventure", "Comedy"))

movie

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

In [9]:
#Podemos acceder a los campos
movie$genre

[1] "Animation" "Adventure" "Comedy"

In [10]:
#Otra forma de acceder a los campos
movie["genre"]

$genre
[1] "Animation" "Adventure" "Comedy"

In [11]:
#También acceder a rangos
movie[2:3]

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

In [13]:
#Class() devuelve el tipo de dato
class(movie$name)
class(movie$foreign)

[1] "character"

[1] "NULL"

In [14]:
#Agregando elementos nuevos
movie[["age"]] <- 5
movie

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

$age
[1] 5

In [16]:
#Podemos modificar los valores directamente referenciándolos
movie[["age"]]<-7
movie

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

$age
[1] 7

In [17]:
#Podemos borrar campos con NULL
movie[["age"]] <- NULL
movie

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

In [18]:
#Para concatenar listas usamos c()
# Separamos la lista anterior en 2
movie_part1 <- list(name = "Toy Story")
movie_part2 <- list(year = 1995, genre = c("Animation", "Adventure", "Comedy"))

In [19]:
# concatenamos las listas
movie_concatenated <- c(movie_part1, movie_part2)
movie_concatenated

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

In [21]:
#Para almacenar tablas, usamos dataframes, (Deben tener la misma longitud cada fila)
movies <- data.frame(name = c("Toy Story", "Akira", "The Breakfast Club", "The Artist",
                              "Modern Times", "Fight Club", "City of God", "The Untouchables"),
                    year = c(1995, 1998, 1985, 2011, 1936, 1999, 2002, 1987),
                    stringsAsFactors=F)
movies

  name               year
1 Toy Story          1995
2 Akira              1998
3 The Breakfast Club 1985
4 The Artist         2011
5 Modern Times       1936
6 Fight Club         1999
7 City of God        2002
8 The Untouchables   1987

In [23]:
#Para ver campos
movies$name

[1] "Toy Story"          "Akira"              "The Breakfast Club"
[4] "The Artist"         "Modern Times"       "Fight Club"
[7] "City of God"        "The Untouchables"

In [24]:
#Para ver por número de columna
movies[1]

  name
1 Toy Story
2 Akira
3 The Breakfast Club
4 The Artist
5 Modern Times
6 Fight Club
7 City of God
8 The Untouchables

In [25]:
#Para obtener información sobre el dataframe, usamos str
str(movies)

'data.frame':	8 obs. of  2 variables:
 $ name: chr  "Toy Story" "Akira" "The Breakfast Club" "The Artist" ...
 $ year: num  1995 1998 1985 2011 1936 ...

In [26]:
#Para ver los tipos de cada columna, usamos class
class(movies$year)

[1] "numeric"

In [28]:
#podemos seleccionar rangos posiciones específicas (fila 1 columna 2)
movies[1,2]

[1] 1995

In [29]:
#head devuelve los primeros 6 valores
head(movies)

  name               year
1 Toy Story          1995
2 Akira              1998
3 The Breakfast Club 1985
4 The Artist         2011
5 Modern Times       1936
6 Fight Club         1999

In [30]:
#Tail devuelve los últimos 6
tail(movies)

  name               year
3 The Breakfast Club 1985
4 The Artist         2011
5 Modern Times       1936
6 Fight Club         1999
7 City of God        2002
8 The Untouchables   1987

In [31]:
#Podemos agregar campos nuevos
movies['length'] <- c(81, 125, 97, 100, 87, 139, 130, 119)
movies

  name               year length
1 Toy Story          1995  81
2 Akira              1998 125
3 The Breakfast Club 1985  97
4 The Artist         2011 100
5 Modern Times       1936  87
6 Fight Club         1999 139
7 City of God        2002 130
8 The Untouchables   1987 119

In [32]:
#y también registros
movies <- rbind(movies, c(name="Dr. Strangelove", year=1964, length=94))
movies

  name               year length
1 Toy Story          1995 81
2 Akira              1998 125
3 The Breakfast Club 1985 97
4 The Artist         2011 100
5 Modern Times       1936 87
6 Fight Club         1999 139
7 City of God        2002 130
8 The Untouchables   1987 119
9 Dr. Strangelove    1964 94

In [34]:
#También borrar registros
movies <- movies[-4,]
movies

  name               year length
1 Toy Story          1995 81
2 Akira              1998 125
3 The Breakfast Club 1985 97
5 Modern Times       1936 87
6 Fight Club         1999 139
7 City of God        2002 130
8 The Untouchables   1987 119
9 Dr. Strangelove    1964 94

In [35]:
#Para borrar columnas usamos NULL
movies[["length"]] <- NULL
movies

  name               year
1 Toy Story          1995
2 Akira              1998
3 The Breakfast Club 1985
5 Modern Times       1936
6 Fight Club         1999
7 City of God        2002
8 The Untouchables   1987
9 Dr. Strangelove    1964